body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-y:scroll;
}

main {
  flex: 1 0 auto;
}

.lg-badge {
    font-size: 11pt !important;
}

label {
    /*width: 100%;*/
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

label:after {
    transition-property: all !important;
    font-size: 0.8rem;
    transform: none;
}
label:not(.active):after {
    transform: translateY(-140%);
}

/*MATERIAL DESIGN*/
.md-80 {
    font-size: 80px !important;
}

.text-grey {
    color: #b0bec5;
}

/*FIX BUG CSS DATATABLE*/
nav ul, nav ol {
    line-height: inherit;
}

.white {
    color: white !important;
}

/*TOASTR COMPONENT*/
#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left: 45%;
}